.monster-container {
    border: 1px solid red;
    border-style: none;
    border-color: unset;
    border-radius: 10%;
    margin: 1rem;
    box-shadow: 5px 5px 10px rgb(121, 120, 122);
    transition: all 0.1s linear;
}

.monster-container:hover {
    transform: scale(1.03);
}

.monster-container p{
    text-align: center;
    font-weight: 500;
}